@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.img__container {
  width: 6%;
  display: flex;
  justify-content: center;
  margin-left: 265px;
}

.pagination__container {
  padding-top: 20px;
  margin-left: 574px;
  color: #fff;
}

.container__header {
  width: 100%;
}

.row {
  color: #fff;
  margin-left: 20px;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  object-fit: contain;
  width: 100%;
  max-height: 120px;
  transition: transform 450ms;
  margin-right: 10px;
}

.row-poster:hover {
  transform: scale(1.38);
}

.row-posterLarge {
  max-height: 250px;
}
.desc {
  margin: 20px;
}
.row-posterLarge:hover {
  transform: scale(1.19);
}
.banner {
  color: #fff;
  object-fit: contain;
  height: 350px;
}
.bannerSingle {
  color: #fff;
  object-fit: contain;
  height: 309px;
}
.banner-contents {
  margin-left: 30px;
  padding-top: 70px;
}
.Table__container {
  color: white;
  background-color: black;
}
.Table__container th {
  color: #fff;
}
.Table__container td {
  color: #fff;
}

.MuiBox-root.css-1mx5122 {
  width: 1230px;
  height: 720px;
}

.banner-title {
  font-size: 1.4rem;
}
.banner-description {
  width: 80%;
  line-height: 1.1;
  padding-top: 0.7rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
}

@media screen and (min-width: 767px) {
  .banner-title {
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
  }

  .banner-description {
    width: 50%;
    line-height: 1.3;
    padding-top: 1rem;
    font-size: 0.9rem;
    max-width: 360px;
    height: 80px;
  }
}

.banner-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
}
.banner-button.banner-button-disabled {
  background-color: rgba(51, 51, 51, 0.2);
}

.banner-button:not(.banner-button-disabled):hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner-fadeBottom {
  height: 4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 27, 0.61),
    #111
  );
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px;
  height: 30px;
  z-index: 99;
  padding-top: 6px;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav-black {
  background-color: #111;
}

.nav-logo-1 {
  position: fixed;
  left: 20px;
  width: 32px;
  object-fit: contain;
}
.nav-logo-2 {
  position: fixed;
  left: 50px;
  width: 32px;
  object-fit: contain;
}

.nav-avatar {
  position: fixed;
  right: 20px;
  width: 30px;
  object-fit: contain;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none !important;
}
.close__button {
  left: 95%;
}

.swiper-button-prev,
.swiper-button-next {
  color: red !important;
}
